@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700');

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    border: 0;
}

nav {
    height: 50px;
    background-color: black;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

nav .container {
    height: 100%;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

nav p {
    width: 70%;
}

.colorText {
    color: #52bb9f;
    font-weight: bold;
}

nav ul {
    width: 30%;
    display: flex;
    justify-content: space-between;
    position: relative;
}

nav ul li {
    display: inline-block;
}

nav ul li > a {
    text-decoration: none;
    color: white;
}

.menu-dropdown {
    position: absolute;
    /*display: none;*/
    top: 55px;
    left: -60px;
    display: block;
    background-color: black;
    width: 200px;
    z-index: 5;
}

.menu-dropdown:before {
    content: '';
    position: absolute;
    background-color: black;
    top: -15px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    height: 30px;
    width: 30px;
}

.menu-dropdown li {
    display: block;
    padding: 15px;

}

header {
    height: 500px;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(187, 187, 187, 1) 100%);
}

header .container {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

header .container:after {
    content: '>';
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 70px;
    transform: translateY(-100%);
    color: #52bb9f;
    cursor: pointer;

}

header .container:before {
    content: '<';
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 70px;
    transform: translateY(-100%);
    color: #52bb9f;
    cursor: pointer;
}

.header-description {
    padding: 0 100px 0 0;
    text-align: center;
}

.header-description h1 {
    font-weight: normal;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.header-description button {
    margin-top: 50px;
    width: 200px;
    height: 50px;
    background-color: #52bb9f;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
    outline: 0;
}

.header-description button:hover {
    color: #52bb9f;
    background-color: white;
    transition: background-color .5s, color .5s;

}

#chairs {
    margin: 30px 0 70px 0;
}

#chairs .container {
    display: flex;
    justify-content: space-between;
}

#chairs .container > div {
    position: relative;
    width: 32%;
}

#chairs .container > div img {
    width: 100%;
}

#chairs .container div:nth-last-child(1n + 2):after {
    content: '';
    position: absolute;
    background-color: white;
    height: 70px;
    width: 100%;
    bottom: 50px;
    left: 0;
    z-index: 0;
    opacity: .4;
}

#chairs .container div span {
    position: absolute;
    bottom: 70px;
    left: 20px;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 10px solid #52bb9f;
    z-index: 1;
}

#chairs .container div:last-of-type h2 {
    font-size: 18px;
    display: inline-block;
    font-weight: 600;
    padding-bottom: 5px;
    border-bottom: 10px solid #52bb9f;
}

#chairs .container div:last-of-type {
    padding: 25px 20px;
    border: 1px solid rgba(0, 0, 0, .1);
    box-sizing: border-box;
    height: 250px;
}

#chairs .container div:last-of-type p {
    font-size: 14px;
    color: grey;
    padding-top: 15px;
}

#price {
    /*height: 500px;*/
    background-color: #f1f1f1;
    padding: 50px 0;

}

#price h2 {
    padding-bottom: 10px;
    border-bottom: 10px solid #52bb9f;
    display: inline-block;
    width: 300px;
    text-transform: uppercase;
    font-weight: normal;
    color: #5a5a5a;
}

.prices-columns {
    margin-top: 80px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.prices-columns > div {
    position: relative;
    height: 500px;
    width: 31%;
    border: 1px solid #d4d4d4;
    background-color: #f9f9f9;
}

.prices-columns > div:before {
    content: '';
    position: absolute;
    display: block;
    height: 50px;
    width: 50px;
    background-color: white;
    top: -35px;
    left: 50%;
    border-radius: 100%;
    border: 1px solid #d4d4d4;
    transform: translateX(-50%);
}

.prices-columns > div:after {
    content: '';
    position: absolute;
    display: block;
    height: 25px;
    width: 25px;
    background-color: #c2c2c2;
    top: -22px;
    left: 50%;
    border-radius: 100%;
    border: 1px solid #d4d4d4;
    transform: translateX(-50%);
}

.prices-columns > div:nth-of-type(2):before {
    content: '';
    position: absolute;
    display: block;
    height: 50px;
    width: 50px;
    background-color: #58c7ab;
    top: -35px;
    left: 50%;
    border-radius: 100%;
    border: none;
    transform: translateX(-50%);
}

.prices-columns > div:nth-of-type(2):after {
    content: '';
    position: absolute;
    display: block;
    height: 25px;
    width: 25px;
    background-color: white;
    top: -22px;
    left: 50%;
    border-radius: 100%;
    border: 1px solid #d4d4d4;
    transform: translateX(-50%);
}

.prices-columns > div:nth-of-type(2) {
    background-color: #58c7ab;
}

.prices-columns > div > p {
    padding-top: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: #58c7ab;
}

#price-title {
    color: white;
}

.prices-columns .price-box {
    position: relative;
    background-color: #fff;
    text-align: center;
    margin: 40px auto;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    border: 1px solid #d4d4d4;
}


.prices-columns .price-box p {
    position: absolute;
    width: 100%;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -60%);
    font-size: 45px;
    font-weight: bold;
    color: #d4d4d4;
}


.prices-columns div:nth-of-type(2) .price-box p {
    color: #58c7ab;

}
.prices-columns .price-box span:first-of-type {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 20px;
}

.prices-columns .price-box .currency {
    position: absolute;
    /*bottom: 0px;*/
    left: 30px;
    font-size: 16px;
}

.prices-columns .price-info > p {
    text-align: center;
    padding: 5px;
    font-size: 18px;
    color: #828282;
}


.prices-columns .price-info p:nth-of-type(2n + 1) {
    background-color: #e4e4e4;

}

.prices-columns .price-info p:nth-of-type(2n + 2) {
    background-color: #f1f1f1;

}
.prices-columns div:nth-of-type(2) .price-info p:nth-of-type(2n + 1) {
    background-color: #fff;

}

.prices-columns div:nth-of-type(2) .price-info p:nth-of-type(2n + 2) {
    background-color: #f1f1f1;

}

.prices-columns > div > div:last-of-type button {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 40px;
    background-color: #52bb9f;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

.prices-columns div:nth-of-type(2) > div:last-of-type button {

    background-color: white;
    color: #52bb9f;
}