@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:700');

$font-open: 'Open Sans', sans-serif;
$font-merri: 'Merriweather', serif;

$bgColor: #000;
$bgColor-section: #f1f1f1;
$color-white: #fff;
$font-color: #59cab1;
$color-price: #c1c1c1;
$color-box: #e4e4e4;
$color-dot: #c2c2c2;
$color-font-box: #8c8c8c;
$bgColor-box: #f9f9f9;
$font-text-color: #9a9a9a;
$border-color: #d9d9d9;
$bgColorHover: rgba(246, 246, 246, 0.46)