@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

$font-open: 'Open Sans', sans-serif;

$bgColor: #000;
$color-white: #fff;
$font-color: #59cab1;
$font-text-color: #9a9a9a;
$border-color: #d9d9d9;
$bgColorHover: rgba(246, 246, 246, 0.46)